.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

.InputElement {
  box-sizing: border-box;
  border: 1px solid black;
  background: aliceblue;
  font: inherit;
  display: block;
  outline: none;
  padding: 6px 10px;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  background: #ccc;
}

.Invalid {
  border: 1px solid red;
  background: #ef9a9a;
}
